.editor-actions {
  display: none !important;
}


/* file explorer buttons */
.title-actions { 
  display: none;
}

.title:hover .title-actions {
  display: flex;
}

/* file explorer title */
.title-label > h2 {
  display:none;
}
